.complete_loreum_ipsum {
  width: 50%;
}
.form {
  padding: 2em;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-evenly; */
}

.single_para {
  margin-bottom: 2em;
  /* border: 2px solid red; */
  list-style: none;
  font-size: 1.2em;
}
.generate_button {
  background-color: aquamarine;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 10px;
  border: none;
}

.input_number {
  font-size: 1.3em;
  padding: 0.2em;
  width: 20%;
}

.para_label {
  font-size: 1.2em;
  color: black;
  font-weight: 900;
}

.heading {
  margin-bottom: 0.2em;
  padding-top: 0.89em;
}
@media screen and (max-width: 800px) {
  .complete_loreum_ipsum {
    width: 80%;
  }
  .heading {
    font-size: 1.2em;
    border: 1px solid red;
    padding: 0.3em;
    margin-bottom: 1em;
  }

  .single_para {
    font-size: 0.9em;
  }

  .generate_button {
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-left: 1.2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-radius: 5px;
  }

  .input_number {
    font-size: 1.1em;
    padding: 0.2em;
    width: 20%;
    border: 1px solid orange;
  }

  .para_label {
    font-size: 1.1em;
    color: black;
    font-weight: 900;
  }

  .form {
    padding: 0.2em;
    margin-bottom: 1em;

    /* justify-content: space-evenly; */
  }
}
